<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 基础信息 -->
	<bean id="emptyboxDAO" class="com.lbs.apps.emptybox.dao.EmptyboxDAOImp" />
	<bean id="EmptyboxAction" class="com.lbs.apps.emptybox.action.EmptyboxAction" scope="prototype" >
		<property name="emptyboxDAO">
			<ref bean="emptyboxDAO"/>
		</property>
	</bean>	
	
</beans>