<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 电视购物 -->
	<bean id="apiDAO" class="com.lbs.apps.api.dao.ApiDAOImp" />
	<bean id="ApiAction" class="com.lbs.apps.api.action.ApiAction" scope="prototype" >
		<property name="apiDAO">
			<ref bean="apiDAO"/>
		</property>
	</bean>	
</beans>