<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 电视购物 -->
	<bean id="systemDAO" class="com.lbs.apps.system.dao.SystemDAOImp" />
	<bean id="SystemAction" class="com.lbs.apps.system.action.SystemAction" scope="prototype" >
		<property name="systemDAO">
			<ref bean="systemDAO"/>
		</property>
	</bean>	
	
</beans>